<head>
    <meta charSet="utf-8" />
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta httpEquiv="Cache-Control" content="no-cache" />
     <style id="critical-css">
        <%- criticalCss %>
        <%- routeCritical %>
     </style>
</head>