<!DOCTYPE html>
<html lang="en">
    <!-- include the header for the page -->
    <% include includes/head.ejs %>
<body>
    <%- markup %>
</body>
    <script type="text/javascript" src="<%-scriptPath%>"></script>
</html>